html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui;
  margin: 0;
  height: 100%;
  width: 100%;
}

.rg-header-nav {
  width: 100% !important;
}

.select-option:hover {
  background-color: rgba(126, 82, 191, 1);
}

.select-option {
  background-color: rgba(126, 82, 191, 1) !important;
  border-radius: 0% !important;
}